html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans";
  margin: 0;
  width: 100%;
}

video {
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  z-index: -10;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

.flex-form > * {
  background: white;
  color: black;
  font-family: "Lato";
  font-size: 18px;
  -webkit-appearance: none;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  border-radius: 0;
  line-height: 30px;
  padding: 10px;
  border: none;
}
.flex-form > * :last-child {
  border-right: 0;
}

.form-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-form {
  display: flex;
  border: 20px solid rgb(80, 47, 42);
  border-radius: 10px;
}

input[type="text"] {
  flex-basis: 310px;
}

.button {
  color: white;
  background: rgb(199, 18, 48);
  margin: 0;
  border: none;
  flex-basis: 160px;
}

input[type="date"] {
  flex-basis: 250px;
}
